{% extends "base.html.twig" %}


{% block body %}

<div style="padding:20px">
    {{ form_start(form) }}
        {{form_row(form.client_fullname, {"attr" : {"class" : "form-control"}})}}
        {{form_row(form.address, {"attr" : {"class" : "form-control"}})}}
        {{form_row(form.phone, {"attr" : {"class" : "form-control"}})}}
        {{form_row(form.limit_date)}}

        <button style="margin-top:10px" type="button" class="add_item_link btn btn-primary" data-collection-holder-class="products">Add a product</button>
        <ul class="products" data-index="{{ form.products|length > 0 ? form.products|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}"></ul>
        <button class="btn btn-primary" type="submit">Add this command</button>
    {{ form_end(form) }}
</div>


{% endblock %}


{% block javascripts %}

<script>
    window.addEventListener('DOMContentLoaded', ()=>{

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
            console.log("'rtk");
            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                /__name__/g,
                collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };

            document
        .querySelectorAll('.add_item_link')
        .forEach(btn => btn.addEventListener("click", addFormToCollection));
    })

</script>
{% endblock %}