{% extends "base.html.twig" %}


{% block body %}
<div style="padding: 20px">
    <h1>{{title}}</h1>
    {% for command in commands %}
    <div  class="card" style="padding:10px;cursor: pointer; margin:10px 0;" onclick="window.location.href = '{{ path('command_show',{id_command:command.id}) }}'">
        <p style="margin:0; padding:0">Nom du client : {{command.clientFullname}}</p>
        <p style="margin:0; padding:0">Adresse du client : {{command.address}}</p>
        <p style="margin:0; padding:0">Téléphone du client :{{command.phone}}</p>
        <p style="margin:0; padding:0">État de la commande : {{command.state}}</p>
        <p style="margin:0; padding:0">Date limite pour le payement : {{command.limitDate|date("Y-m-d")}}</p>
        {% if command.state == "non traitée" %}
            <a style="margin-top:15px"class="btn btn-primary" href="{{path("command_edit_state", {id_command: command.id, id_state: 2})}}">passer la commande en traitée</a>
            <a style="margin-top:15px" class="btn btn-primary" href="{{path("command_edit", {id_command: command.id})}}">Éditer la commande</a>
        {% elseif command.state == "traitée" %}
            <a class="btn btn-primary" href="{{path("payment_create", {id_command: command.id})}}">Payer</a>
        {% elseif command.state == "retard" %}
            <a class="btn btn-primary" href="{{path("command_edit_state", {id_command: command.id, id_state: 4})}}">Retard</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}