{% extends "base.html.twig" %}


{% block body %}

<div style="padding : 10px 20px">
    <h2>Page d'une commande </h2>

    <div class="card" style="padding:10px 20px">
        <p style="margin:0; padding:0;">Nom du client : {{ command.clientFullname }}</p>
        <p style="margin:0; padding:0;">Statut de la commande : {{ command.state }}</p>
    </div>
    <h3>Tous les produits : </h3>
    {% for product in products %}
        <div class="card" style="display:flex; justify-content:space-between; flex-direction:row; padding:10px; margin-bottom: 10px">
            <p style="padding:0; margin:0">nom du produit : {{product.name}}</p>
            <p style="padding:0; margin:0">prix du produit : {{product.price}}</p>
        </div>
    {% endfor %}
    <h3 style="padding:20px 0">Tous les payements effectue :</h3>
    {% for pay in payed %}
        <div class="card" style="display:flex; justify-content:space-between; flex-direction:row; padding:10px; margin-bottom: 10px">
            <p style="padding:0; margin:0">{{pay.type}}</p>
            <p style="padding:0; margin:0">{{pay.amount}}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}